/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "adobe clean regular";
  src: url(../font/AdobeClean-Regular.woff2);
}

@font-face {
  font-family: "adobe clean light";
  src: url(../font/AdobeClean-Light.woff2);
}

@font-face {
  font-family: "adobe clean bold";
  src: url(../font/AdobeClean-bold.woff2);
}

body {
  font-size: 1em;
  font-family: "adobe clean regular";
}

h1 {font-size: 2.5em;}
h2 {font-size: 1em;}
h3 {font-size: 1.5em;}
strong {
  font-size: 1em;
  text-transform: uppercase;
}
a {
  font-size: .8em;
  font-family: "adobe clean bold";
}

/* Header */
ion-icon {
  font-size: 1.5em;
}

header {
  padding: 1.1em;
  background-color: white;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9em;
  font-family: "adobe clean light";
}

header ul li img {
  height: 23px;
}

img {
  display: block;
  width: 100%;
}
/* section */
section ul:nth-of-type(1) {
  display: flex;
  padding: 0 0 1em;
}

section ul:nth-of-type(1) li {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

section ul:nth-of-type(1) li a {
  text-decoration: none;
  font-size: .9em;
  color: rgb(73, 133, 226);
}

section {
  padding: 0 2em;
}

section h1 {
  padding: 1em 0 .8em;
}

section p {
  padding: 0 3em 2em 0;
}

section button {
  border-color: #0d66d0;
  background-color: #0d66d0;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 16px;
  padding: 7px 14px;
  font-weight: bold;
}

section h2 {
  text-align: center;
  margin-top: 2em;
}

/* main */
main section {
  margin: 0 1.7em 2em;
  height: 28em;
  padding: 2em 2em 0;
}

main section:nth-of-type(1) {
  background-image: url('../images/img-1.jpeg');
  background-size: 38em;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: rgb(28, 10, 27);
}

main section:nth-of-type(1) strong {
  color: white;
  margin: 2em 0 0;
}

main section:nth-of-type(1) h3 {
  color: white;
  padding: 1em 0 0;
}

main section:nth-of-type(1) p {
  color: white;
  padding: .4em 0;
}

main section:nth-of-type(1) a {
  color: white;
  text-decoration: none;
}

/* main secttion 2 */
main section:nth-of-type(2) {
  background-image: url('../images/img-2.png');
  background-size: 15em;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: rgb(253, 247, 245);
}

main section:nth-of-type(2) strong {
  color: black;
  margin: 2em 0 0;
}

main section:nth-of-type(2) h3 {
  color: black;
  padding: 1em 0 0;
}

main section:nth-of-type(2) p {
  color: black;
  padding: .4em 0;
}

main section:nth-of-type(2) a {
  color: black;
  text-decoration: none;
}

/* main secttion 3 */
main section:nth-of-type(3) {
  background-color: rgb(237, 125, 247);
}

main section h4 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

main section ul {
  display: block;
}

main section ul li {
  display: block;
  align-items: left;
}

main section ul li a {
  color: black;
}

/* main secttion 4 */
main section:nth-of-type(4) {
  background-image: url('../images/img-3.jpeg');
  background-size: cover;
  background-position: bottom;
}

main section:nth-of-type(4) strong {
  color: black;
  margin: 2em 0 0;
}

main section:nth-of-type(4) h3 {
  color: black;
  padding: 1em 0 0;
}

main section:nth-of-type(4) p {
  color: black;
  padding: .4em 0;
}

main section:nth-of-type(4) a {
  color: black;
  text-decoration: none;
}

/* main secttion 5 */
main section:nth-of-type(5) {
  background: url('../images/img-4.png'), linear-gradient(to bottom, #f4b1a1, #e94733);
  background-size: 23em;
  background-repeat: no-repeat;
  background-position: bottom right;
}

main section:nth-of-type(5) strong {
  color: black;
  margin: 2em 0 0;
}

main section:nth-of-type(5) h3 {
  color: black;
  padding: 1em 0 0;
}

main section:nth-of-type(5) p {
  color: black;
  padding: .4em 0;
}

main section:nth-of-type(5) a {
  color: black;
  text-decoration: none;
}

/* main section 6 */
main section:nth-of-type(6) {
  margin: 0;
}

main section:nth-of-type(6) a {
  display: block;
  padding: 1em 0 0;
}

/* Footer */
footer {
  margin: 1.3em;
}

footer section {
  padding: 1em 0;
  border-top: 1px solid grey;
  color: #505050;
  font-size: .9em;
}

footer section:nth-of-type(4) {
  border-bottom: 1px solid grey;
  margin: 0 0 1em;
}

footer section ion-icon {
  float: right;
  padding: 0 1em;
  font-size: 1em;
}

footer section ul {
  display: none;
}

footer section ul li {
  display: block;
  padding: .3em 0;
}

footer section ul li a {
  color: #4f4f4f;
  font-family: "adobe clean light";
}

#checkbox {
    opacity: 0;
}
#checkbox:checked + ul {
    display: block;
    padding: 1em 0;
}

footer nav {
  color: #4B4B4B;
}

footer nav p {
  font-size: .6em;
  padding: .5em 0;
}

footer nav ul {
  list-style: none;
  display: flex;
}

footer nav ul li {
  font-size: .6em;
  padding: 0 2em 0 0;
}
